.body {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #c6c6c6;
    margin: 0 auto;
    padding: 20px;
}

.quiest {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
}

.title {
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.none {
    display: none;
}

.next-question {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    background-color: #000000;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.next-question:hover {
    background-color: green;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item,
.itemDisplay {
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
    letter-spacing: 1.1px;
    background-color: #d34022;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.item:hover {
    background-color: #2620cc9f;
}

.item:active {
    transform: scale(0.97);
}

.itemDisplay {
    background-color: green;
}

.send-text {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
}

.finishd-display {
    width: 50%;
    height: 200px;
    background-color: #d34022;
    color: #fff;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
}

.finishd-display h2 {
    font-size: 30px;
}

.finishd-display button {
    width: 80%;
    font-size: 20px;
    color: #fff;
    background-color: transparent;
    box-shadow: 0 0 5px 5px black;
    padding: 10px 20px;
    transition: all .2s ease;
}

.finishd-display button:hover {
    box-shadow: none;
}

.finishd-display button:active {
    transform: scale(0.95);
    box-shadow: 0 0 1px 1px black;
}